<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{favicon}}">
        {{{head}}}
        {{#block "header"}}{{/block}}
    </head>
    <body>
        {{#block "body"}}
            <div id="root">
                {{{app}}}
            </div>
        {{/block}}
    </body>
    <script type="application/javascript">
        window.__PRELOADED_STATE__ = {{#stringify state}}{{/stringify}}
    </script>
    <script src="index.js"></script>
</html>